<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.js"></script> <!-- Only Vue 3 -->
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </head>
    <body>
        <div id="test">
            <label for="year">Select Year:</label>
            <select id="year" v-model="selectedYear">
                <option value="">All Years</option>
                <option v-for="year in uniqueYears" :key="year" :value="year">{{ year }}</option>
            </select>
        
            <label for="place">Select Place:</label>
            <select id="place" v-model="selectedPlace">
                <option value="">All Places</option>
                <option v-for="place in uniquePlaces" :key="place" :value="place">{{ place }}</option>
            </select>
        
            <canvas id="myChart"></canvas>
        </div> 
        <script src="js/test.js"></script>       
    </body>
</html>
